.mockupContainer {
    background: #fff;
    width: 560px;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    border-radius: 8px;
    margin-right: 24px;
}

.mockupContainer>:nth-child(1) {
    position: relative;
    width: 308px;
    height: 632px;
}

.mockupContainerImg {
    position: absolute;
}

.mockupContainerLinkList::-webkit-scrollbar {
    width: 5px;
}

.mockupContainerLinkList::-webkit-scrollbar-track {
    background-color: #ddd;
}

.mockupContainerLinkList::-webkit-scrollbar-thumb {
    background: #777;
}

.mockupContainerLinkList {
    width: 238px;
    height: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 54px;
    margin: auto;
    left: 0;
    right: 0;
    padding-right: 8px;
}

.mockupContainerLink {
    width: 100%;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
    background: #eee;
    color: #fff;
}

.mockupContainerLinkImg {
    margin-right: 12px;
    filter: brightness(3.5);
}

.mockupUserDetails {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    margin: auto;
    width: 238px;
    text-align: center;
}

.mockupUserDetails img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 8px solid var(--purple);
    object-fit: cover;
    margin: 0 auto 20px;
}

.mockupUserDetails h1 {
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 16px;
    letter-spacing: -2px;
    word-spacing: -4px;
}

.mockupUserDetails h2 {
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 148px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 16px;
}

.codepen {
    background: #000000;
    color: #fff;
}

.codewars {
    background: #AD2C27;
}

.devto {
    background: #0A0A0A;
}

.facebook {
    background: #1877F2;
}

.freecodecamp {
    background: #006400;
}

.frontend-mentor {
    background: #3F54A3;
}

.github {
    background: #181717;
}

.gitlab {
    background: #FCA121;
}

.stack-overflow {
    background: #F58025;
}

.linkedin {
    background: #0077B5;
}

.twitch {
    background: #9146FF;
}

.twitter {
    background: #1DA1F2;
}

.youtube {
    background: #FF0000;
}

.mockupContainer.isPreview {
    width: 350px;
    position: relative;
    margin: auto;
    padding: 0;
}

.mockupContainer.isPreview>:nth-child(1) {
    background: var(--white);
}

.mockupContainer.isPreview>:nth-child(1)>:nth-child(1) {
    display: none;
}

.scroll {
    overflow-y: scroll;
}

.mockupContainer a,
.mockupContainer a>:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
}

@media screen and (max-width: 1023px) {
    .mockupContainer {
        display: none;
    }

    .mockupContainer.isPreview {
        display: flex;
    }
}