.button {
    width: 276px;
    height: 48px;
    margin-left: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    color: #828FA3;
    border: none;
    background: none;
    cursor: pointer;
}

.button img {
    margin-right: 16px;
}

.sidebarInAntive {
    position: absolute;
    margin: 0;
    bottom: 32px;
    right: -56px;
    width: 56px;
    height: 48px;
    background-color: #635FC7;
    border-radius: 0 10px 10px 0;
}

.sidebarInAntive img {
    margin: auto;
}

.hideButton {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 1023px) {
    .sidebarInAntive {
        right: -95px;
    }
}

@media only screen and (max-width: 767px) {
    .button {
        display: none;
    }
}